# Build/output dir
/target/
# Assets are stored in separate repository and downloaded during build.
/assets/

# Cargo lock file.
Cargo.lock

# Files for redirecting output of the corresponding git command.
_diff
_status
